@import url("https://fonts.googleapis.com/css?family=Oswald");
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
      linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
      url("logo.png");
    background-repeat: round;
  }
  
  .img-body {
    width: 400px;
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50px);
    }
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.info {
  width: 500px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Oswald", sans-serif;
  text-shadow: -1px 2px 8px rgba(164, 121, 28, 0.58);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 200;
  color: #ffffff;
  letter-spacing: 0.2em;
}

.img-fooster{
  width: 36px;
}
